@import 'src/styles';

.wizard-main-container {
  min-width: 0;
}

@include media-breakpoint-up(md) {
  .wizard-steps {
    .wizard-navigations {
      width: $wizard-navigation-width;
      height: 100vh;
    }
  }
}
