@import 'src/styles';

.wizard-main {
  max-width: $wizard-content-max-width;
}

@include media-breakpoint-up(md) {
  .wizard-step {
    max-height: calc(
      100vh - #{$wizard-step-spacing} - #{$wizard-controls-height}
    );
    overflow-y: auto;
  }

  // increase selector specificity to avoid storybook namespace clutter
  .container-fluid {
    .wizard-controls {
      position: fixed;
      right: 0;
      bottom: 0;
      left: $wizard-navigation-width;
      border-top: 1px solid $gray-300;
      padding: $spacer;
      background: $white;
      transition: all 0.4s ease-out;

      .form-row {
        max-width: $wizard-content-max-width;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .wizard-secondary-content {
    max-width: $wizard-secondary-content-max-width;
  }
}
