$animation-duration: 400ms;

$animation-timing: ease-in-out;

$wizard-header-height: 3.5rem;

$wizard-content-max-width: map_get($grid-breakpoints, 'md');

$wizard-navigation-width: 20rem;

$wizard-step-spacing: 2rem;

$wizard-controls-height: 2.75rem;
