@import 'src/styles';

li.list-group-item.wizard-navigation {
  border-top: 1px solid transparent;
  padding: 0;

  a {
    display: flex;
    position: relative;
    padding: 1rem 2.5rem;
    width: 100%;
    font-weight: inherit;
    text-decoration: none;
    color: inherit;
  }

  &::before {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: auto;
    font-weight: inherit;
  }

  &::after {
    position: absolute;
    top: 1.25rem;
    right: 1rem;
    cursor: pointer;
  }

  &--info {
    &::after {
      @include icon('info-state');
    }
  }

  &--warning {
    &::after {
      border-radius: 3px;
      @include icon('warning-state');
      background-color: black;
      background-size: cover;
    }
  }

  &--danger {
    &::after {
      @include icon('danger-state');
    }
  }

  &--success,
  &--passed {
    background-color: $gray-100;

    &::after {
      @include icon('check');
    }
  }

  &:hover,
  &--active {
    &:not(.list-group-item--disabled) {
      font-weight: $font-weight-medium;
      background-color: $white;
      box-shadow: 0 0 0.5rem rgba($black, 0.15);

      a {
        font-weight: inherit;
      }
    }
  }

  &--disabled {
    a {
      cursor: not-allowed;
    }
  }
}
