@import 'src/styles';

.list-group-item.wizard-navigation {
  display: flex;
  position: relative;
  border-top: 1px solid transparent;
  padding: 1rem 2.5rem;
  width: 100%;
  font-weight: normal;
  text-decoration: none;
  color: inherit;

  &::after {
    position: absolute;
    top: 1.25rem;
    right: 1rem;
  }

  &--info {
    &::after {
      @include icon('info-state');
    }
  }

  &--warning {
    &::after {
      border-radius: 3px;
      @include icon('warning-state');
      background-color: black;
      background-size: cover;
    }
  }

  &--danger {
    &::after {
      @include icon('danger-state');
    }
  }

  &--success,
  &--passed {
    background-color: $gray-100;

    &::after {
      @include icon('check');
    }
  }

  &--active {
    font-weight: 500;
  }

  &:hover,
  &--active {
    &:not(.list-group-item--disabled) {
      background-color: $white;
      box-shadow: 0 0 0.5rem rgba($black, 0.15);
    }
  }

  &--disabled {
    cursor: not-allowed;
  }
}
