@import 'src/styles';

.wizard {
  overflow-y: auto;
}

@include media-breakpoint-up(md) {
  .wizard {
    overflow-y: hidden;

    .wizard-navigations {
      height: calc(100vh - #{$wizard-header-height});
    }

    .wizard-step {
      max-height: calc(
        100vh - #{$wizard-header-height} - #{$wizard-controls-height}
      );
    }
  }
}
